@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Georama&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Georama", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #b9b9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2%;
  margin-bottom: 30px;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  padding: 0 2%;
}

.board-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 7fr;
      grid-template-columns: 2fr 7fr;
}

.stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: none;
  border: none;
  width: 220px;
  height: 140px;
  position: relative;
  cursor: pointer;
}

.stock-pile {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: skyblue;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: left;
}

.stock-pile.stock-pile-5 {
  right: 0;
  z-index: 5;
}

.stock-pile.stock-pile-4 {
  right: 30px;
  z-index: 4;
}

.stock-pile.stock-pile-3 {
  right: 60px;
  z-index: 3;
}

.stock-pile.stock-pile-2 {
  right: 90px;
  z-index: 2;
}

.stock-pile.stock-pile-1 {
  right: 120px;
  z-index: 1;
}

.foundations {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.foundation-slot {
  width: 100px;
  height: 100%;
  border-radius: 6px;
  background-color: #c0c0c0;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.foundation-slot.filled {
  background-color: purple;
}

.tableau {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  gap: 1%;
}

.pile {
  position: relative;
  height: 160px;
  border-radius: 6px;
  background-color: #6d4242;
  cursor: pointer;
}

.card {
  border: 2px solid #38a550;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.card .card-front,
.card .card-back {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.card .card-back {
  background-color: #333;
}

.card .card-front {
  display: none;
  background-color: #d3d3d3;
  padding: 2px;
  font-weight: bold;
  font-size: 18px;
}

.card.card-face-up .card-back {
  display: none;
}

.card.card-face-up .card-front {
  display: block;
}
/*# sourceMappingURL=App.css.map */