@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Georama&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Georama", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-color: #161616;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: #7474a0;
}

::-webkit-scrollbar-thumb:hover {
  background: #42425c;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  padding: 0 calc((100% - 1300px) / 2);
}

@media (max-width: 1300px) {
  .header {
    padding: 0 2%;
  }
}

@media (max-width: 425px) {
  .header {
    height: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .logo img {
  max-height: 96%;
}

@media (max-width: 1300px) {
  .navbar .container {
    width: 100%;
    padding: 0 2%;
  }
}

@media (max-width: 940px) {
  .navbar {
    height: 64px;
  }
}

.footer {
  padding: 40px calc((100% - 1300px) / 2);
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .logo-container {
  width: 320px;
}

.footer .logo-container img {
  width: 100%;
}

.footer .logo-container a {
  color: #851939;
  font-size: 14px;
}

.footer .footer-msg {
  color: #eeeeee;
}

.footer .footer-msg img {
  height: 20px;
  -webkit-animation: heartBeat 0.8s ease-in-out infinite;
          animation: heartBeat 0.8s ease-in-out infinite;
}

.footer .footer-msg a {
  color: #851939;
}

@-webkit-keyframes heartBeat {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes heartBeat {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (max-width: 1300px) {
  .footer {
    padding: 40px 2%;
  }
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .logo-container {
    padding-bottom: 40px;
  }
  .footer .footer-msg {
    padding-top: 40px;
    border-top: 1px solid #1e1e1e;
  }
}

@media (max-width: 425px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .logo-container {
    width: 100%;
  }
}

.start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #320d3a;
  background: -webkit-gradient(linear, left bottom, left top, from(#320d3a), color-stop(50%, #451b75));
  background: linear-gradient(0deg, #320d3a 0%, #451b75 50%);
  z-index: 10;
}

.start .container {
  width: 800px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  background-color: #161616;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  -webkit-animation: slideDown 0.8s forwards;
          animation: slideDown 0.8s forwards;
  position: relative;
}

.start .container .title {
  font-size: 36px;
  margin-bottom: 30px;
  color: #eeeeee;
}

.start .container .title span {
  font-family: "Creepster", cursive;
  color: #851939;
  font-size: 48 px;
}

.start .container .info {
  margin-bottom: 30px;
  font-size: 18px;
  color: #7474a0;
}

.start .container .info p {
  margin-bottom: 20px;
}

.start .container .info h2 {
  margin-bottom: 20px;
}

.start .container .play-btn {
  width: 200px;
  height: 40px;
  border: 2px solid #851939;
  border-radius: 6px;
  text-transform: uppercase;
  background: none;
  color: #851939;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.start .container .play-btn:hover {
  background-color: #851939;
  color: #eeeeee;
}

.start .container .spider {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.start .container .spider img {
  height: 80%;
}

.start .container::before {
  content: "";
  position: absolute;
  top: calc(4% - 2px);
  left: calc(2% - 2px);
  width: 96%;
  height: 92%;
  border: 2px solid #1e1e1e;
  border-radius: 40px;
  z-index: -1;
}

.start .container.started {
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
  border-top: 8px solid #851939;
  border-right: 8px solid #520f23;
  border-bottom: 8px solid #520f23;
  border-left: 8px solid #520f23;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  -webkit-animation: loadingRotate 1.5s infinite 0.5s;
          animation: loadingRotate 1.5s infinite 0.5s;
  -webkit-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
}

.start .container.started .title,
.start .container.started .info,
.start .container.started .play-btn {
  display: none;
}

.start .container.started::before {
  display: none;
}

.start .container.started .spider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes loadingRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .start .container {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .start .container .title {
    font-size: 24px;
    text-align: center;
  }
  .start .container .title span {
    font-size: 32 px;
  }
  .start .container .info {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .start {
    height: calc(100vh + 40px);
  }
}

.end {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  background: #851939;
  background: radial-gradient(circle, #851939 0%, #520f23 54%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-animation: endSlideDown 0.8s ease-in-out forwards;
          animation: endSlideDown 0.8s ease-in-out forwards;
}

.end .img-container {
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: swing 6s ease infinite;
          animation: swing 6s ease infinite;
}

.end .img-container img {
  height: 100%;
  -webkit-filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.6));
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.end .img-container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: calc(50% - 1px);
  width: 2px;
  height: 100px;
  background-color: #eeeeee;
  z-index: -1;
  -webkit-transition: height 0.6s;
  transition: height 0.6s;
}

.end .img-container:hover img {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.end .img-container:hover::before {
  height: 200px;
}

.end .end-msg {
  font-size: 72px;
  font-weight: bold;
  font-family: "Creepster", cursive;
  color: #520f23;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

.end .end-score {
  font-size: 18px;
  color: #c5c5c5;
  margin-bottom: 40px;
}

.end .end-score span {
  font-size: 20px;
  font-weight: bold;
  color: #eeeeee;
  text-shadow: 0px 2px 2px #000;
}

.end .again-btn {
  width: 200px;
  height: 40px;
  border: 2px solid #eeeeee;
  border-radius: 6px;
  text-transform: uppercase;
  background: none;
  color: #eeeeee;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.end .again-btn:hover {
  background-color: #eeeeee;
  color: #851939;
}

.end::before {
  content: "";
  position: absolute;
  top: calc(4% - 2px);
  left: calc(2% - 2px);
  width: 96%;
  height: 92%;
  border: 2px solid #5f1129;
  border-radius: 40px;
  z-index: -1;
}

@-webkit-keyframes endSlideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes endSlideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes swing {
  0%,
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes swing {
  0%,
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@media (max-width: 940px) {
  .end .img-container {
    width: 160px;
    height: 220px;
    left: calc(50% - 80px);
  }
  .end .img-container:hover img {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
  }
  .end .img-container:hover::before {
    height: 125px;
  }
}

@media (max-width: 768px) {
  .end .end-msg {
    font-size: 36px;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  }
  .end .end-score {
    font-size: 14px;
  }
  .end .end-score span {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .end {
    height: calc(100vh + 40px);
  }
}

.score-board {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-board .reset-btn {
  height: 36px;
  padding: 0 12px;
  border-radius: 4px;
  background-color: #7474a0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eeeeee;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.score-board .reset-btn img {
  height: 50%;
  margin-right: 4px;
}

.score-board .reset-btn:hover {
  background-color: #42425c;
}

.score-board .score,
.score-board .time,
.score-board .trophy {
  width: 100px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #161616;
  color: #eeeeee;
}

.score-board .score span,
.score-board .time span,
.score-board .trophy span {
  color: #7474a0;
  margin-left: 4px;
}

.score-board .trophy img,
.score-board .time img {
  height: 60%;
  margin-right: 10px;
}

.score-board button,
.score-board p {
  margin-right: 6px;
}

@media (max-width: 940px) {
  .score-board .reset-btn img {
    margin-right: 0;
  }
  .score-board .reset-btn span {
    display: none;
  }
  .score-board .score,
  .score-board .time,
  .score-board .trophy {
    width: 80px;
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  .score-board {
    width: 100%;
    gap: 4px;
  }
  .score-board .reset-btn,
  .score-board .score,
  .score-board .time,
  .score-board .trophy {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 0;
  }
}

.alert {
  width: 400px;
  height: 80px;
  background-color: #eeeeee;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: -500px;
  left: calc(50% - 200px);
  z-index: 10;
  overflow: hidden;
  -webkit-animation: alertAppear 3s ease-in-out;
          animation: alertAppear 3s ease-in-out;
}

.alert .alert-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-bottom: 4px;
}

.alert .alert-top .icon {
  width: 50px;
  height: 100%;
  padding: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  border-radius: 6px 0 0 6px;
}

.alert .alert-top .icon img {
  width: 60%;
}

.alert .alert-top .msg {
  padding: 10px 6px;
  color: #eeeeee;
  font-size: 18px;
}

.alert .alert-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #9f9f9f;
}

.alert .alert-bottom .progress-bar {
  width: 0;
  height: 100%;
  background-color: #eeeeee;
  -webkit-animation: alertProgress 2.5s linear forwards;
          animation: alertProgress 2.5s linear forwards;
}

.alert.warning {
  background-color: #851939;
}

.alert.warning .alert-top .icon {
  background-color: #520f23;
}

.alert.info {
  background-color: #7474a0;
}

.alert.info .alert-top .icon {
  background-color: #42425c;
}

@-webkit-keyframes alertProgress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes alertProgress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes alertAppear {
  0%,
  100% {
    top: -500px;
  }
  12% {
    top: 120px;
  }
  15%,
  85% {
    top: 110px;
  }
  88% {
    top: 120px;
  }
}

@keyframes alertAppear {
  0%,
  100% {
    top: -500px;
  }
  12% {
    top: 120px;
  }
  15%,
  85% {
    top: 110px;
  }
  88% {
    top: 120px;
  }
}

@media (max-width: 768px) {
  .alert {
    width: 280px;
    height: 80px;
    left: calc(50% - 140px);
  }
  .alert .alert-top .icon {
    width: 36px;
    padding: 0 4px;
  }
  .alert .alert-top .icon img {
    width: 60%;
  }
  .alert .alert-top .msg {
    font-size: 14px;
  }
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  padding: 40px 0;
}

.board-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 7fr;
      grid-template-columns: 2fr 7fr;
  height: 148px;
}

@media (max-width: 1300px) {
  .board {
    gap: 30px;
  }
  .board-top {
    height: 127px;
  }
}

@media (max-width: 940px) {
  .board-top {
    height: 101px;
  }
}

@media (max-width: 768px) {
  .board-top {
    height: 53px;
  }
}

.stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: none;
  border: none;
  border-radius: 6px;
  width: 220px;
  height: 148px;
  position: relative;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.stock-pile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#000));
  background-image: linear-gradient(#161616, #000);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.stock-pile img {
  width: 80%;
}

.stock-pile::before {
  content: "";
  position: absolute;
  top: calc(4% - 1px);
  left: calc(4% - 1px);
  width: 92%;
  height: 92%;
  border: 1px solid #451b75;
  border-radius: 4px;
}

.stock-pile:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(133, 25, 57, 0.8);
          box-shadow: 0px 0px 4px 4px rgba(133, 25, 57, 0.8);
}

.stock-pile.stock-pile-5 {
  right: 0;
  z-index: 5;
}

.stock-pile.stock-pile-4 {
  right: 30px;
  z-index: 4;
}

.stock-pile.stock-pile-3 {
  right: 60px;
  z-index: 3;
}

.stock-pile.stock-pile-2 {
  right: 90px;
  z-index: 2;
}

.stock-pile.stock-pile-1 {
  right: 120px;
  z-index: 1;
}

@media (max-width: 1300px) {
  .stock {
    width: 160px;
    height: 127px;
  }
  .stock-pile {
    width: 86px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  }
  .stock-pile.stock-pile-4 {
    right: 18px;
  }
  .stock-pile.stock-pile-3 {
    right: 36px;
  }
  .stock-pile.stock-pile-2 {
    right: 54px;
  }
  .stock-pile.stock-pile-1 {
    right: 72px;
  }
}

@media (max-width: 940px) {
  .stock {
    width: 108px;
    height: 101px;
  }
  .stock-pile {
    width: 68px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .stock-pile.stock-pile-4 {
    right: 10px;
  }
  .stock-pile.stock-pile-3 {
    right: 20px;
  }
  .stock-pile.stock-pile-2 {
    right: 30px;
  }
  .stock-pile.stock-pile-1 {
    right: 40px;
  }
}

@media (max-width: 768px) {
  .stock {
    width: 52px;
    height: 53px;
  }
  .stock-pile {
    width: 36px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .stock-pile.stock-pile-4 {
    right: 4px;
  }
  .stock-pile.stock-pile-3 {
    right: 8px;
  }
  .stock-pile.stock-pile-2 {
    right: 12px;
  }
  .stock-pile.stock-pile-1 {
    right: 16px;
  }
}

.foundations {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.foundation-slot {
  width: 100px;
  height: 148px;
  border-radius: 6px;
  position: relative;
}

.foundation-slot .foundation-front,
.foundation-slot .foundation-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-transition: opacity 0.3s 0.2s, -webkit-transform 0.6s;
  transition: opacity 0.3s 0.2s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.3s 0.2s;
  transition: transform 0.6s, opacity 0.3s 0.2s, -webkit-transform 0.6s;
}

.foundation-slot .foundation-front img,
.foundation-slot .foundation-back img {
  width: 80%;
}

.foundation-slot .foundation-front {
  background-color: rgba(22, 22, 22, 0.2);
}

.foundation-slot .foundation-back {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#68132c), to(#520f23));
  background-image: linear-gradient(#68132c, #520f23);
  opacity: 0;
}

.foundation-slot .foundation-back img {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
}

.foundation-slot .foundation-front::before,
.foundation-slot .foundation-back::before {
  content: "";
  position: absolute;
  top: calc(4% - 1px);
  left: calc(4% - 1px);
  width: 92%;
  height: 92%;
  border-radius: 4px;
}

.foundation-slot .foundation-front::before {
  border: 1px solid rgba(238, 238, 238, 0.4);
}

.foundation-slot .foundation-back::before {
  border: 1px solid #851939;
}

.foundation-slot.filled .foundation-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  opacity: 0;
}

.foundation-slot.filled .foundation-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  opacity: 1;
}

@media (max-width: 1300px) {
  .foundations {
    height: 127px;
    gap: 4px;
  }
  .foundation-slot {
    width: 86px;
    height: 127px;
  }
}

@media (max-width: 940px) {
  .foundations {
    height: 101px;
    gap: 4px;
  }
  .foundation-slot {
    width: 68px;
    height: 101px;
  }
}

@media (max-width: 768px) {
  .foundations {
    height: 53px;
    gap: 2px;
  }
  .foundation-slot {
    width: 36px;
    height: 53px;
  }
}

.tableau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pile {
  position: relative;
  width: 100px;
  height: 148px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.pile::before {
  content: "";
  position: absolute;
  top: calc(5% - 2px);
  left: calc(5% - 2px);
  width: 90%;
  height: 90%;
  border: 2px solid rgba(116, 116, 160, 0.5);
  border-radius: 6px;
}

.pile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 53px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  display: none;
}

@media (max-width: 1300px) {
  .pile {
    width: 86px;
    height: 127px;
    background: none;
  }
  .pile::before {
    display: none;
  }
  .pile::after {
    display: block;
    height: 127px;
  }
}

@media (max-width: 940px) {
  .pile {
    width: 68px;
    height: 101px;
  }
  .pile::after {
    height: 101px;
  }
}

@media (max-width: 768px) {
  .pile {
    width: 36px;
    height: 53px;
  }
  .pile::after {
    height: 53px;
  }
}

.card {
  width: 100px;
  height: 148px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  cursor: pointer;
  -webkit-animation: slideUp 0.3s ease;
          animation: slideUp 0.3s ease;
  -webkit-transition: -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: box-shadow 0.2s, transform 0.2s;
  transition: box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
}

.card .card-front,
.card .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 0.3s 0.2s, visibility 0.3s 0.2s, -webkit-transform 0.6s;
  transition: opacity 0.3s 0.2s, visibility 0.3s 0.2s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.3s 0.2s, visibility 0.3s 0.2s;
  transition: transform 0.6s, opacity 0.3s 0.2s, visibility 0.3s 0.2s, -webkit-transform 0.6s;
}

.card .card-back {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#000));
  background-image: linear-gradient(#161616, #000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card .card-back img {
  width: 80%;
}

.card .card-back::before {
  content: "";
  position: absolute;
  top: calc(4% - 1px);
  left: calc(4% - 1px);
  width: 92%;
  height: 92%;
  border: 1px solid #451b75;
  border-radius: 4px;
}

.card .card-front {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#b1b1b1));
  background-image: linear-gradient(#eeeeee, #b1b1b1);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card .card-front .top-left-text,
.card .card-front .bottom-right-text {
  position: absolute;
  padding: 2px;
  font-size: 20px;
  color: #851939;
  border-radius: 6px;
}

.card .card-front .top-left-text {
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e1e1e1));
  background-image: linear-gradient(#eeeeee, #e1e1e1);
}

.card .card-front .bottom-right-text {
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b1b1b1), to(#bebebe));
  background-image: linear-gradient(#b1b1b1, #bebebe);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card .card-front .card-front-img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-front .card-front-img img {
  width: 50%;
}

.card .card-front::before {
  content: "";
  position: absolute;
  top: calc(5% - 1px);
  left: calc(5% - 1px);
  width: 90%;
  height: 90%;
  border: 1px solid rgba(133, 25, 57, 0.4);
  border-radius: 4px;
}

.card.face-up .card-back {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card.face-up .card-front {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card.selected {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 4px 4px rgba(133, 25, 57, 0.8);
          box-shadow: 0px 0px 4px 4px rgba(133, 25, 57, 0.8);
}

.card:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(133, 25, 57, 0.8);
          box-shadow: 0px 0px 4px 4px rgba(133, 25, 57, 0.8);
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1300px) {
  .card {
    width: 86px;
    height: 127px;
  }
  .card .card-front,
  .card .card-back {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 940px) {
  .card {
    width: 68px;
    height: 101px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .card-front,
  .card-back {
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 768px) {
  .card {
    width: 36px;
    height: 53px;
  }
  .card .card-front,
  .card .card-back {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card .card-front .top-left-text,
  .card .card-front .bottom-right-text {
    padding: 2px;
    font-size: 14px;
  }
}

.home-page {
  max-width: 1300px;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .home-page {
    width: 100%;
    padding: 0 2%;
  }
}

.about-page {
  min-height: 100vh;
  padding: 40px calc((100% - 1300px) / 2);
}

.about-page .back-to-home-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #161616;
  font-size: 14px;
  color: #eeeeee;
}

.about-page .back-to-home-link img {
  height: 30%;
  margin-right: 6px;
  -webkit-transition: margin-right 0.3s;
  transition: margin-right 0.3s;
}

.about-page .back-to-home-link:hover img {
  margin-right: 10px;
}

.about-page section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.about-page section .info h2 {
  color: #eeeeee;
  margin-bottom: 30px;
  position: relative;
}

.about-page section .info .about-list,
.about-page section .info .contact-list {
  margin-bottom: 30px;
}

.about-page section .info .about-list li,
.about-page section .info .contact-list li {
  padding: 8px 8px 8px 30px;
  position: relative;
  margin-bottom: 12px;
  background-color: rgba(238, 238, 238, 0.3);
  border-radius: 4px;
  font-size: 18px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.about-page section .info .about-list li a,
.about-page section .info .contact-list li a {
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-page section .info .about-list li::before,
.about-page section .info .contact-list li::before {
  content: url("../assets/list-spider.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 100%;
  border-radius: 4px 0 0 4px;
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page section .info .about-list li:not(:last-child)::after,
.about-page section .info .contact-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 12px;
  width: 1px;
  height: 12px;
  background-color: #eeeeee;
}

.about-page section .info .contact-list li:hover a {
  color: #eeeeee;
}

.about-page section .info .contact-list li.github:hover {
  background-color: #333;
}

.about-page section .info .contact-list li.linkedin:hover {
  background-color: #0077b5;
}

.about-page section .info .contact-list li.instagram:hover {
  background-color: #c13584;
}

.about-page section .info .contact-list li.email:hover {
  background-color: #ea4335;
}

.about-page section .img {
  height: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-page section .img img {
  height: 100%;
  -webkit-filter: drop-shadow(0px 4px 12px #000);
          filter: drop-shadow(0px 4px 12px #000);
}

@media (max-width: 1300px) {
  .about-page {
    padding: 40px 2%;
  }
}

@media (max-width: 768px) {
  .about-page section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-page section .info .about-list li,
  .about-page section .info .contact-list li {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .about-page section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-page section .img {
    height: 70vw;
  }
}

.not-found-page {
  min-height: 100vh;
}

.not-found-page .not-found-container {
  max-width: 600px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.not-found-page .not-found-container .code {
  font-size: 160px;
  font-family: "Creepster", cursive;
  margin-bottom: 20px;
}

.not-found-page .not-found-container .text {
  font-size: 18px;
  padding: 12px 24px;
  margin-bottom: 40px;
  border-radius: 50px;
  background-color: rgba(238, 238, 238, 0.2);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.not-found-page .not-found-container .back-to-home-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 30px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #161616;
  color: #eeeeee;
}

@media (max-width: 425px) {
  .not-found-page .not-found-container {
    padding: 0 16px;
  }
  .not-found-page .not-found-container .code {
    font-size: 120px;
  }
  .not-found-page .not-found-container .text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=App.css.map */