.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  background-color: rgba(#000, 0.6);
  box-shadow: 0px 2px 10px 0px rgba(#000, 0.8);
  margin: 0 auto;
  padding: 0 calc((100% - 1300px) / 2);
}

// Media Queries
@media (max-width: $lg) {
  .header {
    padding: 0 $padding-horizontal;
  }
}

@media (max-width: $xsm) {
  .header {
    height: $navbar-height-xsm;
    flex-direction: column;
    justify-content: center;
  }
}
