.home-page {
  max-width: $container-width;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
}

// Media Queries
@media (max-width: $lg) {
  .home-page {
    width: 100%;
    padding: 0 $padding-horizontal;
  }
}
