.navbar {
  width: 100%;
  height: $navbar-height;
  margin-bottom: 20px;
  background-color: rgba(#000, 0.6);
  box-shadow: 0px 2px 10px 0px rgba(#000, 0.8);
  border-bottom: 1px solid $color-secondary;

  .container {
    width: $container-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 100%;
      display: flex;
      justify-content: center;

      img {
        max-height: 96%;
      }
    }
  }
}

// Media Queries
@media (max-width: 1300px) {
  .navbar {
    .container {
      width: 100%;
      padding: 0 $padding-horizontal;
    }
  }
}

@media (max-width: 940px) {
  .navbar {
    height: $navbar-height-md;
  }
}
