.navbar {
  width: 100%;
  height: $navbar-height;
  display: flex;
  align-items: center;

  .logo {
    height: 100%;
    display: flex;
    justify-content: center;

    img {
      max-height: 96%;
    }
  }
}

// Media Queries
@media (max-width: $lg) {
  .navbar {
    .container {
      width: 100%;
      padding: 0 $padding-horizontal;
    }
  }
}

@media (max-width: $md) {
  .navbar {
    height: $navbar-height-md;
  }
}
