.pile {
  position: relative;
  width: $card-width;
  height: $card-height;
  border-radius: $card-radius;
  background-color: rgba(#000, 0.2);
  cursor: pointer;
}

.pile::before {
  content: "";
  position: absolute;
  top: calc(5% - 2px);
  left: calc(5% - 2px);
  width: 90%;
  height: 90%;
  border: 2px solid rgba($color-secondary, 0.5);
  border-radius: $card-radius;
}

// Media Queries
@media (max-width: 1300px) {
  .pile {
    width: $card-width-lg;
    height: $card-height-lg;
  }
}

@media (max-width: 940px) {
  .pile {
    width: $card-width-md;
    height: $card-height-md;
  }
}

@media (max-width: 768px) {
  .pile {
    width: $card-width-sm;
    height: $card-height-sm;
  }
}
