* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-text;
}

body {
  min-height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-color: $color-dark;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

// Remove mobile button outline
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Custom scroll bar
// width
::-webkit-scrollbar {
  width: 6px;
}

// Track
::-webkit-scrollbar-track {
  background: $color-light;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $color-secondary;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary-dark;
}
