* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-text;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

// Remove mobile button outline
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
