.score-board {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .reset-btn {
    height: 36px;
    padding: 0 12px;
    border-radius: 4px;
    background-color: $color-secondary;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-light;
    cursor: pointer;
    transition: background-color 0.3s;

    img {
      height: 50%;
      margin-right: 4px;
    }
  }

  .reset-btn:hover {
    background-color: $color-secondary-dark;
  }

  .score,
  .time,
  .trophy {
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $color-dark;
    color: $color-light;

    span {
      color: $color-secondary;
      margin-left: 4px;
    }
  }

  .trophy,
  .time {
    img {
      height: 60%;
      margin-right: 10px;
    }
  }

  button,
  p {
    margin-right: 6px;
  }
}

@media (max-width: $md) {
  .score-board {
    .reset-btn {
      img {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }

    .score,
    .time,
    .trophy {
      width: 80px;
      font-size: 13px;
    }
  }
}

@media (max-width: $xsm) {
  .score-board {
    width: 100%;
    gap: 4px;

    .reset-btn,
    .score,
    .time,
    .trophy {
      flex: 1;
      margin-right: 0;
    }
  }
}
