.score-board {
  width: 300px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .reset-btn {
    width: 70px;
    height: 36px;
    border-radius: 4px;
    background-color: $color-secondary;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-light;
    cursor: pointer;
    transition: background-color 0.3s;

    img {
      height: 50%;
      margin-right: 4px;
    }
  }

  .reset-btn:hover {
    background-color: $color-secondary-dark;
  }

  .score,
  .time {
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $color-dark;
    color: $color-light;

    span {
      color: $color-secondary;
      margin-left: 4px;
    }
  }
}

@media (max-width: 940px) {
  .score-board {
    width: 230px;

    .reset-btn {
      width: 60px;
      font-size: 13px;

      img {
        height: 30%;
        margin-right: 2px;
      }
    }

    .score,
    .time {
      width: 80px;
      font-size: 13px;
    }
  }
}
