.stock {
  display: flex;
  justify-content: flex-start;
  background: none;
  border: none;
  border-radius: $card-radius;
  width: 220px;
  height: $card-height;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.stock-pile {
  width: $card-width;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  text-align: left;

  img {
    width: 100%;
  }
}

.stock-pile:hover {
  box-shadow: $card-hover-shadow;
}

.stock-pile.stock-pile-5 {
  right: 0;
  z-index: 5;
}

.stock-pile.stock-pile-4 {
  right: 30px;
  z-index: 4;
}

.stock-pile.stock-pile-3 {
  right: 60px;
  z-index: 3;
}

.stock-pile.stock-pile-2 {
  right: 90px;
  z-index: 2;
}

.stock-pile.stock-pile-1 {
  right: 120px;
  z-index: 1;
}
