$color-primary: #451b75;
$color-primary-dark: #320d3a;
$color-secondary: #7474a0;
$color-secondary-dark: #42425c;
$color-tertiary: #851939;
$color-tertiary-dark: #520f23;
$color-dark: #161616;
$color-light: #eeeeee;
$color-gray: #c5c5c5;

$font-title: "Creepster", cursive;
$font-text: "Georama", sans-serif;

$navbar-height: 80px;

$padding-horizontal: 2%;
$padding-vertical: 40px;
$padding-mobile: 16px;

$container-width: 1300px;

$card-width: 100px;
$card-height: 148px;
$card-shadow: 0px 0px 6px rgba(#000, 0.6);
$card-hover-shadow: 0px 0px 4px 4px rgba($color-tertiary, 0.8);
$card-radius: 6px;

// Sizes for smaller screens

// LG - For max-width: 1300px
$card-width-lg: 86px;
$card-height-lg: 127px;
$card-shadow-lg: 0px 0px 4px rgba(#000, 0.4);

// MD - For max-width: 940px
$navbar-height-md: 64px;

$card-width-md: 68px;
$card-height-md: 101px;
$card-shadow-md: 0px 0px 2px rgba(#000, 0.2);

// SM - For max-width: 768px
$card-width-sm: 36px;
$card-height-sm: 53px;
$card-shadow-sm: none;
