$color-primary: #333;
$color-secondary: #333;
$color-dark: #333;
$color-light: #333;

$font-title: "Creepster", cursive;
$font-text: "Georama", sans-serif;

$padding-horizontal: 2%;
$padding-vertical: 40px;
$padding-mobile: 16px;

$board-top-card-width: 100px;
$board-top-card-height: 140px;
$card-shadow: 0px 0px 8px rgba(#000, 0.2);
